.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: #faf8f8; /* Change the background color as needed */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px; /* Add padding to create some space around the content */
  z-index: 1000; /* Ensure the header stays on top of other content */
  box-sizing: border-box;
}

.logo {
  color: orange; /* Change the color of the logo text */
  font-size: 18px; /* Adjust font size as needed */
}

.icons {
  display: flex;
}

.icon {
  margin-left: 10px; /* Add margin between icons */
  text-decoration: none; /* Remove underline from anchor elements */
}

.icon img {
  height: 20px; /* Adjust the height of the icons as needed */
  width: auto; /* Maintain aspect ratio */
}

.container {
  padding: 10px;
}

#menu {
  text-align: center;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 100;
}

#menu a {
  text-decoration: none;
  color: #333;
  padding: 10px;
  display: inline-block;
}

#menu img {
  width: 30px;
  height: 30px;
  margin: 0 5px;
  vertical-align: middle;
}

#banners {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  margin-top: 10px;
}

#banners img {
  width: 400px;
  height: 150px;
  border-radius: 8px;
  margin-right: 10px;
  display: inline-block;
  transition: transform 0.5s ease-in-out;
}

#banner-container:hover #banners img {
  transform: translateY(-10px);
}

.product-card {
  display: inline-block;
  width: 150px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  margin: 10px;
  margin-top: 80px;
  transition: transform 0.3s ease-in-out;
  touch-action: pan-y; /* Enable touch swipe */
  overflow: hidden;
}

.product-card img {
  width: 100%;
  height: auto;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.ion-page {
  overflow-y: scroll !important;
}
.bolTitle {
  font-weight: bold;
  text-decoration: underline;
  font-size: 14pt;
  color: #333333;
}

.card-row {
  display: flex;
  justify-content: center;
}

.card {
  width: 200px; /* Set the width of each card */
  height: 80px; /* Set the height of each card */
  margin: 10px; /* Add spacing between cards */
  border: 1px solid #ccc; /* Add borders for visualization */
  display: flex;
  background: url('/background-small-card.png');
}

.card img {
  width: 80px; /* Set the width of the image */
  height: 100%; /* Make the image fill the height of the card */
}

.card-content {
  padding: 10px; /* Add padding for text content */
}

.card-content h3 {
  margin: 0; /* Remove margin for the heading */
  color: #590004 !important;
  font-weight: bold;
  font-size: 14pt;
}

.card-content p {
  margin: 5px 0; /* Add margin for the paragraph */
}

.product-listing {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.section-title {
  font-weight: bold;
  color: #590004 !important;
}

.view-all-btn {
  background-color: orange;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.product-container {
  display: flex;
  justify-content: space-between;
}

.product {
  width: 48%; /* Adjust the width to fit two products in a row */
}

.product img {
  width: 100%;
  display: block;
  margin-bottom: 10px;
}

.product-name {
  text-align: center;
  color: #590004 !important;
}